<% if (typeof success_msg != 'undefined') { %>
    <div class="alert alert-success">
        <%= success_msg %>
    </div>
<% } %>

<% if (typeof error_msg != 'undefined') { %>
    <div class="alert alert-danger">
        <%= error_msg %>
    </div>
<% } %>

<% if (typeof errors != 'undefined' && errors.length > 0) { %>
    <div class="alert alert-danger">
        <ul>
        <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
        <% }) %>
        </ul>
    </div>
<% } %>
